BOT_TOKEN=8665717135:AAECBG4A-EchQHLxKvMLPT4z-pQ8JvpLQnA
WEBAPP_URL=http://127.0.0.1:8000/static/app.html
CRM_PUBLIC_URL=http://127.0.0.1:8000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
MANAGER_ALERT_CHAT_ID=-1003911423320
SECRET_KEY=trud-exchange-secret
